* {
  padding:0;
  margin:0;
  font-family: Verdana;
}
body {
  background-color: #666677;
}
.header, .footer {
  color:#FFFFE0;
  background-color:#666;
}
.header {
  -moz-border-radius:15px 15px 0 0;
  border-radius:15px 0;
  height:30px;
  padding: 30px;
}
.footer {
  -moz-border-radius:0 0 15px 15px;
  border-radius:0 0 15px 15px;
  font-size:10px;
  padding: 10px;
  text-align:center;
}
.main {
  background-color:#FFFFFF;
  width:850px;
  margin: 10px auto 0px;
  box-shadow: 10px 0px 5px #888;
  -moz-box-shadow: 10px -10px 15px #000;
  -moz-border-radius:15px;
  border-radius:15px;
}
h2 {
  padding: 10px 30px;
  border-bottom: 5px solid #ccc;
  border-top: 5px solid #ccc;
}
h3 {
  margin:10px 0;
  padding: 0 30px;
}
p {
  margin:10px 0;
  padding: 0 30px;
}
ul {
  margin:15px 50px;
  font-size:13px;
}
.closed {
  cursor:pointer;
}
div.section {
  padding: 30px 10px;
}
.code {
  margin: 30px 35px;
  padding:15px 0;
  width:720px;
  background-color:#000;
  color:#FFF;
  font-family:monospace;
  -moz-border-radius:15px;
  border-radius:15px;
}
.code p {
  margin-bottom:3px;
  margin-top:3px;
}
p.ident1 { text-indent:15px; }
p.ident2 { text-indent:30px; }
p.ident3 { text-indent:45px; }
p.ident4 { text-indent:60px; }
.demo-container {
  margin: 30px 65px;
  width:720px;
  height:380px;
  background-color:#DDD;
  border:2px solid #ccc;
}
.float1 {
  width:20px;
  background-color:#ccc;
  height:20px;
  padding: 5px;
  text-align:center;
  -moz-border-radius:15px;
  border-radius:15px;
  margin:0 40px;
}